<div class="">
  <div class="info">
    <div class="service-box">
      <h3 class="service-title">Poule inside</h3>
      <div class="egg">
        {{my_poule.nombre_inside}}
      </div>
    </div>
    <div class="service-box-dif">
      <h3 class="service-title">Poule outside</h3>
      <div class="egg">
        {{my_poule.nombre_poules-my_poule.nombre_inside}}
      </div>
    </div>
    <div class="service-box">
      <h3 class="service-title">Poule total</h3>
      <div class="" style="display:flex;">
        <button type="button" name="button" class="btn btn-primary btn-increment" (click)="increClick('-')">-</button>
        <div class="egg">
          {{my_poule.nombre_poules}}
        </div>
        <button type="button" name="button" class="btn btn-primary btn-increment" (click)="increClick('+')">+</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-5 col-md-5">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Programmation du poulailler:</h4>
        <h6 class="card-subtitle text-muted">Cot cot cot</h6>
      </div>
      <div class="card-block no_padding">
        <ul class="list-group list-group-flush list-center">
          <li class="list-group-item ouverture">Ouverture: <ngb-timepicker [(ngModel)]="my_poule.time_ouverture"></ngb-timepicker></li>
          <li class="list-group-item ouverture">Fermeture: <ngb-timepicker [(ngModel)]="my_poule.time_fermeture"></ngb-timepicker></li>
          <li class="list-group-item ouverture"><button class="btn btn-primary" (click)="onSave()"> Save </button></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-7 col-md-7">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Controlle du poulailler</h4>
        <h6 class="card-subtitle text-muted">Cot cot cot</h6>
      </div>
      <div class="card-block no_padding">
        <ul class="list-group list-group-flush list-center">
          <li class="list-group-item ouverture" *ngIf="!my_poule.porte_ouverte&&!waiting">Ouverture: <button class="btn btn-primary" (click)="actionDoor()"> Ouverture </button></li>
          <li class="list-group-item ouverture" *ngIf="my_poule.porte_ouverte&&!waiting">Fermeture: <button class="btn btn-primary" (click)="actionDoor()"> Fermeture </button></li>
          <li class="list-group-item ouverture" *ngIf="waiting"><i class="fa fa-hourglass-start fa-4" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
    <button class="btn btn-primary" type="button" name="button" (click)="refresh()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
