<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="flex">
      nombre de poule inside: {{my_poule.nombre_inside}}
    </div>
    <div class="flex">
      nombre de poule outside: {{my_poule.nombre_poules-my_poule.nombre_inside}}
    </div>
    <div class="flex">
      nombre de poule total: {{my_poule.nombre_poules}}
    </div>
  </div>
</div>
<h4>Gerer le poulailler :</h4>
<div class="">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div class="">
        Programmation de l'ouverture et fermeture du poulailer:
        <div class="">
          Ouverture:
          <ngb-timepicker [(ngModel)]="my_poule.time_ouverture"></ngb-timepicker>
        </div>
        <div class="">
          Fermeture:
          <ngb-timepicker [(ngModel)]="my_poule.time_fermeture"></ngb-timepicker>
        </div>
        <button class="btn btn-primary" (click)="onSave()"> Save </button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7">
      col2
    </div>
  </div>
</div>
